.main{
    display: flex;
    align-items: center;
    
    
}

.projectsMain{
    margin: 0 6em 6em 6em;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.title{
    margin-top: 5%;
    font-size: 180%;
}

