.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
  
}

.mainContent{
    margin: 6rem 0 6rem 0 ;
    padding-inline:5%;
    background: rgb(217,217,217);
    background: radial-gradient(circle, rgb(205, 193, 159, 0.4) 26%, rgba(229, 229, 229, 0) 100%);
}

.projectsMain{
    display:flex;
    flex-direction: row;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.title{

    font-size: 180%;
}

@media(max-width: 600px){
    .title{
        margin-top: 15%;
    }
}

