
:root{
  --textColor: rgb(217, 215, 215);
  --hoverColor:rgba(255, 255, 255, 0.85);
  --accentLight:#835980e3;
  --accentDark:rgba(208, 8, 234, 0.755);
  --theme1: var(--accentDark);
  --themeLight:rgba(158, 133, 154, 0.4);
  --themeDark:rgba(175, 137, 202, 0.155);
  --themeCurrent:var(--themeDark);
  --darkBg:url(/darkbg3.webp);
  --lightBg:radial-gradient(circle, rgba(73, 73, 73, 0.146) 41%, rgba(0, 0, 0, 0.051) 100%), 
  url(/light-pink-bg.webp);
  --theme5:#d9d9d9;
  color-scheme: light dark;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:var(--textColor);

}

html{
  width:100%;
  scroll-behavior: smooth;

}

body:has(.dark){
  background-color:black;
  background-image: var(--darkBg);
  --themeCurrent:var(--themeDark);
  --theme1: var(--accentDark);
  --textColor: rgb(217, 215, 215);
}

@media (prefers-color-scheme: dark){
  body:has(.dark){
    background-color:black;
    background-image: var(--darkBg);
    --themeCurrent:var(--themeDark);
    --theme1: var(--accentDark);
    --textColor: rgb(217, 215, 215);
  }
}
body:has(.light){
  background-image: var(--lightBg);
  --themeCurrent:var(--themeLight);
  --theme1:var(--accentLight);
  --textColor: white;
}

@media (prefers-color-scheme: light){
  body:has(.light){
    background-image: var(--lightBg);    
    --themeCurrent:var(--themeLight);
    --theme1:var(--accentLight);
    --textColor: white;
  }
}

body{
  background-color: var(--themeCurrent);
  background-image: url(/darkbg3.webp);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  font-size: larger;

  width:100%;
  scroll-behavior: smooth;

}

p, span{
  text-align: center;
  
}

.pageHeader{
  font-weight: bold;
  letter-spacing: -0.2rem;
}
button, .button{
  padding:2%;
  text-decoration: none;
  border-radius: 12px;
  background-color: transparent;
  font-weight:bold;
}
button, .button, .email{
  transition: 0.4s;
  backdrop-filter: blur(20px);

}
button:hover, .button:hover, .email:hover{
  img{
    filter: invert(10%) sepia(26%) saturate(291%) hue-rotate(5deg) brightness(88%) contrast(83%);
  } 
  
  color: var(--theme1);
  background: white;
  transition: 0.4s;
}

h1{
  text-align: center;
  font-size: 1.5em;
  padding:2%;
  font-weight: light;
}

.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16px);
-webkit-backdrop-filter: blur(8.8px);
border: 2px solid rgba(255, 255, 255, 0.217);


}
.links{
  width:20%;
}



