@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');

:root{
  --textColor: rgb(247, 247, 247);
  --hoverColor:rgba(255, 255, 255, 0.85);
  --theme1: #cdc09d;
  --theme2: rgb(214, 168, 103);
  --theme3:rgb(215, 193, 167);
  --theme4:rgb(146, 199, 181);
  --theme5:#d9d9d9;
  --buttonColor: white;
  font-family: 'Maven Pro', sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:white;
  // border: 2px solid black;
}

html{
  width:100%;
  scroll-behavior: smooth;

}


body{
  background-color: var(--theme5);
  background-image: url(/whitebg2.jpeg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

  // background: 
  // radial-gradient(circle,  var(--theme1) 0%,
  // var(--theme2) 41%,
  // var(--theme3) 56%, var(--theme4) 72%, var(--theme5) 100%);
  font-size: larger;
  width:100%;
  scroll-behavior: smooth;

}

p, span{
  text-align: center;
  
}

.pageHeader{
  font-weight: bold;
  letter-spacing: -0.2rem;
}
button, .button{
  padding:2%;
  text-decoration: none;
  border-radius: 12px;
  border: 1.5px solid var(--textColor);
  background-color: transparent;
  font-weight:bold;
}
button, .button, .email{
  transition: 0.4s;
}
button:hover, .button:hover, .email:hover{
  img{
    filter: invert(10%) sepia(26%) saturate(291%) hue-rotate(5deg) brightness(88%) contrast(83%);
  } 
  
  color: var(--theme1);
  background: white;
  transition: 0.4s;
}

h1{
  text-align: center;
  font-size: 1.5em;
  padding:2%;
  font-weight: light;
}

.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.8px);
-webkit-backdrop-filter: blur(8.8px);
border: 1px solid rgba(255, 255, 255, 0.33);


}
.links{
  width:20%;
}


// @media (max-width:768px) {
  
// }

/* .contact .form{
  backdrop-filter: blur(12px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 10% 100%;
  margin:0;
  margin-top:30%;
} */

/* .contact form > *{
  padding: 3%;
  margin:2%;
  
} */
/* 
.contact form{
  display: grid;
  gap:1%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 'title title'
  'name email'
  'message message'
  'button button';
}
form h1{
  grid-area: title;
}

form .name{
  grid-area: name;
}
form .email{
  grid-area: email;
}
form .message{
  grid-area: message;
}
form .button{
  grid-area: button;
  text-align: center;
}


.contact form input, .contact form textarea{
  backdrop-filter: blur(12px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.34);
  border:1px solid white;
  border-radius: 10px;
  color:black;
}

.contact form textarea{
  color:black;
  padding:4%;
  margin: 3% 0;
}

.message{
  display: flex;
  flex-direction: column;
} */

