

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  --tecklistLen: 11;

}

.about, .contact, .projects, .intro{
  height: 100svh;
  width:100%;
  padding:5%;
  display:flex;

  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: fit-content;  

  h1{
    font-size: 3rem;
    padding:2%;
  }
}

.aboutContent, .introContent, .projectsContent, .contactContent{
  width: 70%;
  height:80%;
  min-width: fit-content;  
  background: rgb(217,217,217);
  background: radial-gradient(circle, var(--themeCurrent) 26%, rgba(229, 229, 229, 0) 100%);
}

.accent{
  color:var(--theme1);
}

.imageContainer{
  grid-area: image;
  position: relative;
  width:100%;
  max-width: 600px;
  aspect-ratio: 3/2;

}

.intro {
  grid-area: intro;
  display: flex;
  align-items:center;
  justify-content: center;
  animation: myAnim 1.5s ease 0s 1 normal forwards;
}

.introContent{
  display: flex;
  padding: 3% 4% 0 4% ;
  margin: 0 3%;
  // width:50%;
  // height: 50%;
  height: fit-content;
  width: fit-content;
  justify-content: space-around;

  .imageContainer{
    width: 30%;
    
    img{
      object-fit: cover;
    }
  }
  .text{
    width: 50%;
    margin:5%;
  }

  .text span{
    font-size: 2rem;

    .accent{
      font-size: 4rem;
      font-weight: bold;
    }
  }
}

.about{ 
  grid-area: about;
  display: flex;
  align-items:center;
  padding: 0;
  justify-content: space-around;

}
.aboutContent{
  // padding:1%;
  width: 60%;
  margin: 15%;
  min-height: fit-content;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  'title title'
  'image text'
  'tech tech';
  place-items: center;
}
.about h1{
  grid-area: title;
  padding:1%;

}
.about img{
  border-radius: 50%;
}

.liel{
  margin:1%;
  border: solid 1px white;
}

.aboutContent .imageContainer{
  width:60%;
  min-width: fit-content;
  border-radius: 50%;
  margin:2% auto;

}
.about .text p{
  grid-area: text;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;


  
}

.text{
  width: 80%;
}


.techStack{
  grid-area: tech;
  display: flex;
  // align-self: center;
  // justify-content: space-around;
  padding: 1% 0;
  margin:2% auto ;
  width:80%;

  overflow:hidden;

}
$animationSpeed: 18s;

.techStack .techContainer{
  position: relative;
  width:0.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  min-width: 30px;
  margin:2% 5%;
  transition: 0.9s;

}
.track{
  display: flex;
  align-self: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  // flex-direction: row;
  animation:$animationSpeed scroll infinite linear ;
}

@keyframes scroll {
	from { transform: translateX(0%) 
  }
	to { transform: translateX(-100%)}
}


.techStack .techContainer img:hover{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.247);
  transition: 0.4s;

}

.projects{
  grid-area: projects;
  height:auto;
}

.projectsContent{
  width:60%;
  margin:20%;
  display: flex;
  height:fit-content;
  flex-direction: column;
  align-items: center;
  padding:2% 5%;
}

.projects .container{
  display: flex;

}
.contact{
  display: flex;
  align-items:center;
  justify-content: center;
  width:100%;
}

.contactContent{
  padding:0% 2% 4% 2%;
  height: auto;
  margin: 10%;
}

.contactContent p{
  font-size: 1.2rem;
  max-width: 100%;
}

.contactContent a{
  padding-left: 4%;
  
}
.contactContent .email{
  font-size: 1.5rem;
  padding:1%;
  border:2px solid var(--buttonColor);
  border-radius: 12px;
  margin-left: 7%;
  font-weight: bold;
  text-decoration: none;
}

.links, .email{
  text-align: center;
  
}
.links{
  width: 20%;
}
.or{
  margin-inline: 1%;
}

.email{
  transition: 0.4s;

}
.email:hover{
  color: var(--theme1);
  background: white;
  transition: 0.4s;
}

.links svg{
  border-radius: 50%;
  transition: 0.4s;
}

.links svg:hover{
  fill: var(--theme1);
  background: white;
  transition: 0.5s;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-130px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.linksSection{
  div{
    padding: 1% 3%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  display: grid;
  grid-template-areas: 'links links'
  'email resume';
  width:80%;
  margin: 0 auto;
  
  .linksDiv{
    grid-area: links;
    display: flex;
    align-items: center;


  }

  .emailLink{
    grid-area: email;
  }

  .resumeLink{
    grid-area: resume;

  }
}

@media (max-width: 768px){
  .introContent, .aboutContent,
   .projects .container, .linksSection, .linksDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects{
    height: fit-content;
    margin-top: 15%;

    .button{
      margin-top: 10%;
    }

  }

  .intro{
    
    .introContent{
      margin: 5%;
  
      .text{
        width: 90%;
        text-align: center;
        margin-bottom: 0;

        span{
          line-height: 3rem;
        }

        .accent{
          font-size: 3rem;
        }
      }

      .imageContainer{
        width:100%;
        img{
          object-fit: contain;
        }
      
      }
      
    }
  }

  .linksSection{
    padding: 7%;
    align-items: stretch;

    .resumeLink a, .emailLink a{
      min-width: max-content;
      padding: 2%;
    }
    .resumeLink,.emailLink{
      padding:3%;
    }
    .linksDiv{
      padding:5%;
      display:grid;
      line-height: 1.8rem;
      align-items: start;
      grid-template-areas: 
      "text text text"
      "github or linkedin";

      p{
        grid-area: text;
      }

      span{
        grid-area: or;
        margin: 0;
      }

      .links{
        width: 100%;
      }


    }
  }

  .contactContent{
    width: 90%;
  }

  .about .text p{
    font-size: 1.5rem;
  }


}
