.main {
  // min-height: 100vh;
  // box-sizing: border-box;
  // width: 100svw;
  // max-width: 100%;
  // min-width: 100svw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about, .contact, .projects, .intro{
  height: 100svh;
  width:100%;
  padding:5%;
  display:flex;

  // margin: 6%;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: fit-content;  

  h1{
    font-family: 'Cormorant', serif;
    font-size: 3rem;
    padding:2%;
  }
}

.aboutContent, .introContent, .projectsContent, .contactContent{
  min-width: fit-content;  
  background: rgb(217,217,217);
  background: radial-gradient(circle, rgb(205, 193, 159, 0.4) 26%, rgba(229, 229, 229, 0) 100%);
}

.accent{
  color:var(--theme1);
}

.imageContainer{
  grid-area: image;
  position: relative;
  width:100%;
  max-width: 600px;
  aspect-ratio: 3/2;

}

.intro {
  grid-area: intro;
  display: flex;
  align-items:center;
  justify-content: center;
  animation: myAnim 1.5s ease 0s 1 normal forwards;
}

.introContent{
  display: flex;
  padding: 7% 5% 0 5% ;
  margin: 0 3%;
  width:60%;
  height: 50%;
  height: fit-content;
  width: fit-content;


  .text span{
    font-size: 3rem;

    .accent{
      font-size: 4rem;
    }
  }
}

.about{ 
  grid-area: about;
  display: flex;
  align-items:center;


}
.aboutContent{
  padding:1%;
  width:80%;
  min-height: fit-content;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  'title title'
  'image text'
  'tech tech';

}
.about h1{
  grid-area: title;

}
.about img{
  border-radius: 50%;
}

.liel{
  margin:2%;
  border: solid 1px white;
}

.aboutContent .imageContainer{
  width:70%;
  min-width: fit-content;
  border-radius: 50%;
  margin:2% auto;

}
.about .text p{
  grid-area: text;
  width: 100%;
  font-size: 2.5rem;
  line-height: 2.3rem;
  height: 100%;
}

.text{
  width: 80%;
}


.techStack{
  grid-area: tech;
  display: flex;
  align-self: center;
  justify-content: space-around;
  padding:1rem 4rem;
  margin:1%;

}
.techStack .techContainer{
  position: relative;
  width:5%;
  aspect-ratio: 1/1;
  object-fit: contain;
  min-width: 30px;
  margin: auto;

}

.techStack .techContainer img:hover{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.247);
  transition: 0.4s;

}

.projects{
  grid-area: projects;
  height:auto;
}

.projectsContent{
  width:80%;
  display: flex;
  height:fit-content;
  flex-direction: column;
  align-items: center;
  padding:5%;
}

.projects .container{
  display: flex;

}
.contact{
  display: flex;
  align-items:center;
  justify-content: center;
  width:100%;
}

.contactContent{
  padding:2% 5% 2% 5%;
  width:60%;
   
}

.contactContent p{
  font-size: 1.2rem;
  max-width: 100%;
}

.contactContent a{
  padding-left: 4%;
  
}
.contactContent .email{
  font-size: 1.5rem;
  padding:1%;
  border:2px solid var(--buttonColor);
  border-radius: 12px;
  margin-left: 7%;
  font-weight: bold;
  text-decoration: none;
}

.links, .email{
  width: 50%;
  text-align: center;
  padding:2%;
  margin:3%;
}
.links{
  width: 25%;
}
.or{
  margin-inline: 1%;
}

.email{
  transition: 0.4s;
}
.email:hover{
  color: var(--theme1);
  background: white;
  transition: 0.4s;
}

.button{
  border: solid 1px var(--buttonColor);
  padding: 1.6rem;
  border-radius:  12px;
  text-decoration: none;
}

.links svg{
  border-radius: 50%;
  transition: 0.4s;
}

.links svg:hover{
  fill: var(--theme1);
  background: white;
  transition: 0.5s;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-130px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.linksSection{
  div{
    padding: 4%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  display: grid;
  grid-template-areas: 'links links'
  'email resume';

  .linksDiv{
    grid-area: links;
    display: flex;
    align-items: center;

  }

  .emailLink{
    grid-area: email;
  }

  .resumeLink{
    grid-area: resume;
  }
}

@media (max-width: 767px){
  .introContent, .aboutContent,
   .projects .container, .linksSection, .linksDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects{
    height: fit-content;
    margin-top: 15%;

    .button{
      margin-top: 10%;
    }

  }

  .intro{
    .text span{
      line-height: 3rem;
    }

    .text{
      width: 90%;
      text-align: center;
    }

    .introContent{
      margin: 5%;
    }
  }

  .linksSection{
    padding: 5%;
    .resumeLink a{
      min-width: fit-content;
    }

  }

  .contactContent{
    width: 90%;
  }

  .about .text p{
    font-size: 2rem;
  }


}
