
.Header{
    // border-bottom: 1px solid black;
    display:flex;
    justify-content:space-around;
    font-family: 'Cormorant', serif;
    align-items: center;
    scroll-behavior: smooth;
    max-width: 100%;
    padding:1%;
    font-size: larger;
    width: 100%;
    position: fixed;
    top:0;
    backdrop-filter: blur(5px);
    z-index: 99;
    
    .NavBar{
        display: flex;
        flex-direction: row;
        

        .menuButton{
            border:none;
            color:var(--theme1);
            display:none;
            padding:10%;
            cursor: pointer;
            
            svg{
                fill:var(--textColor);
            }
        }

        ul{
            list-style-type: none;
            display:flex;
            grid-area: 'links';
            width:auto;
            width:60%;
            
            
        }
        li{
            padding:3% 10%;
        }
    
        li:hover, .menuButton:hover{
            background: rgba(255, 255, 255, 0);
            border-radius: 8px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(8.8px);
            -webkit-backdrop-filter: blur(8.8px);
            border: none;
            
    
        }
    }



    a{
        text-decoration: none;
    }


    .logo{
        grid-area: 'logo';
        margin-right: 1rem;
        font-size: 1.6rem;
        cursor: pointer;
    }


}

@media(max-width: 1113px){

    .Header{
        .NavBar{
            .menuButton{
                display:block;
            }
        
            ul{
                display:none;
            }
        }

    }

}

