

.Header{
    // border-bottom: 1px solid black;
    display:flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    padding:0.5%;
    font-size: 1.3rem;
    width: 100%;
    position: fixed;
    top:0;
    backdrop-filter: blur(20px);
    z-index: 99;
    margin-bottom: 10%;


    
    .NavBar{
        display: flex;
        flex-direction: row;

        .menuButton{
            border:none;
            color:var(--textColor);
            display:none;
            padding:10%;
            
            cursor: pointer;
            
            svg{
                fill:var(--textColor);
            }
        }



        ul{
            list-style-type: none;
            display:flex;
            grid-area: 'links';
            width:auto;
            width:60%;
            
            
        }

    
        li:hover, .menuButton:hover{
            background: rgba(255, 255, 255, 0);
            border-radius: 8px;
            backdrop-filter: blur(8.8px);
            -webkit-backdrop-filter: blur(8.8px);
            border: none;
            border-right: 1px solid var(--textColor);
            font-style: italic;
            transition: 0.4s;
            transform: translateX(10%);    
    
        }
    }



    a{
        text-decoration: none;
    }


    .logo{
        grid-area: 'logo';
        margin-right: 1rem;
        font-size: 1.6rem;
        cursor: pointer;
    }






}

@media(max-width: 1113px){

    .Header{
        align-items: normal;
        .NavBar{
            .menuButton{
                display:block;
            }
        
            ul{
                display:none;
            }
        }

        .theme{
            display:none;
        }

    }

}

