.MenuList{
    li{
        padding-inline:7%;
    }

    list-style-type: none;
    display:flex;
    
    li:not(:last-child){
        border-right: 1px white solid;
    }
    
    a{
        text-decoration: none;
    }


}
