.projects .container{
    // width: 100svw;
}


.project{
    // display: grid;
    // grid-template-columns: repeat(1fr, 2);
    // grid-template-rows: 15% auto 20%;
    // grid-template-areas: 
    // 'img img'
    // 'title title'
    // 'desc code-and-stack';
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
    padding:1%;
    margin:2%;
    width:95%;
    max-width: 70%;
    backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project .example{
    grid-area: img;
    position: relative;
    width:100%;
    max-width: 700px;
    aspect-ratio: 4/2;
}

.project .example img{
    // width:100%;
}

.project .title{
    grid-area: title;
    padding:0 10%;
    font-size: 1.2em;
}

.project .descp{
    grid-area: desc;
    padding:5%;
}
.project .code_and_stack{
    grid-area: code-and-stack;
    display: flex;
    justify-content: space-between;
}
.stack img{
    width: 15%;
}

.project .stack{
    display: flex;
    align-items: center;
}

.button{
    padding:2%;
    margin:1%;
    text-decoration: none;
    border-radius: 12px;
    border: 1.5px solid var(--textColor);
    background-color: transparent;
    span{
        font-size: small;
        font-weight: lighter;
    }
}
  
.button:hover{
    color: var(--theme4);
    span{
        color:var(--theme4);
    }
    background-color: var(--textColor);
}