
.project{
    display:flex ;
    flex-direction: column;
    padding:3%;
    margin:1%;
    width:48%;
    height:80%;
    max-width: 50%;
    min-width: 300px;
}


.project > *{
    margin: 2%;
    padding: 1%;
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;

}

.project .example{
    grid-area: img;
    position: relative;
    width:100%;
    max-width: 700px;
    margin: auto;
    aspect-ratio: 4/2;
}

.example:hover{
    transform: scale(1.01);
    box-shadow:  0 4px 8px 0 rgba(255, 252, 252, 0.517), 0 6px 20px 0 rgba(249, 249, 249, 0.761);

}

.techContainer{
    position: relative;
    width:100%;
    max-width: 30px;
    aspect-ratio: 1/1;
    margin: auto;

}

.project .title{
    grid-area: title;
    padding:0 10%;
    margin-top: 1%;
    font-size: 130%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.597);
}

.project .descp{
    grid-area: desc;
    padding:5%;
    font-size: 130%;
    height: 5rem;
    overflow-y:auto;
}
.project .code_and_stack{
    grid-area: code-and-stack;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3%;
}
.stack{
    width: 50%;
}

.project .stack{
    display: flex;
    align-items: center;
}

.button{
    padding:1%;
    margin:1%;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    border: 1.5px solid var(--textColor);
    background-color: transparent;
    display: flex;
    flex-direction: column;

    span{
        font-size: 1rem;
        font-weight: lighter;
    }
}
  
.button:hover{
    
    img{
        filter: invert(10%) sepia(26%) saturate(291%) hue-rotate(5deg) brightness(88%) contrast(83%);
    }
    span{
        color: var(--theme1)
    }

    background: white;
  
}